<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <strong>GitHub'ed at
      <a class="external" href="https://github.com/yizeng/strafforts" target="_blank">yizeng/strafforts</a>.
      <small><%= Settings.app.version %></small>
    </strong>
  </div>
  <strong>
    Designed and developed by
    <a class="external" href="http://yizeng.me" target="_blank">Yi Zeng</a>.
  </strong>
</footer>
