<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <strong>GitHub'ed at
      <a class="external" href="https://github.com/yizeng/strafforts" target="_blank">yizeng/strafforts</a>.
      <small>v0.1.0</small>
    </strong>
  </div>
  <strong>
    Designed and developed by
    <a class="external" href="http://yizeng.me" target="_blank">Yi Zeng</a>.
  </strong>
</footer>
