<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <strong>Theme based on
      <a class="external" href="https://github.com/almasaeed2010/AdminLTE" target="_blank">AdminLTE</a>.
      <small>Version 2.3.6</small>
    </strong>
  </div>
  <strong>
    Developed by
    <a class="external" href="http://yizeng.me" target="_blank">Yi Zeng</a>. GitHub'ed at
    <a class="external" href="https://github.com/yizeng/strafforts" target="_blank">yizeng/strafforts.</a>
  </strong>
</footer>
