<footer class="main-footer">
    <div>
      <% unless Settings.app.version.blank? %>
          <strong><small class="label label-strava"><%=  Settings.app.version %></small></strong>
      <% else %>
          <strong><small class="label label-strava">v.0.6.2</small></strong>
      <% end %>
      <strong class="hidden-xs">
        Created by <a class="external" href="http://yizeng.me" target="_blank">Yi Zeng</a> and gitHub'ed at
        <a class="external" href="https://github.com/yizeng/strafforts" target="_blank">yizeng/strafforts</a>.
      </strong>
      <div class="pull-right">
        <strong>
          <a class="external label label-strava" href="https://www.strava.com/athletes/9123806" target="_blank">Follow me on Strava</a>
          <a class="external label label-strava" href="http://yizeng.me/#contact" target="_blank">Contact Me</a>
        </strong>
      </div>
    </div>
</footer>
