<footer class="main-footer">
  <span class="hidden-xs">
    <small>
      Enjoyed <%= Settings.app.name %>?
      <a class="custom-dbox-popup" href="https://donorbox.org/help-push-strafforts-forward?amount=25" 
        title="Donate to Strafforts">Help push us forward</a>!
    </small>
  </span>
  <span class="pull-right">
      <a class="bg-strava btn label" href="https://www.strava.com<%= Settings.app.demo_path %>" target="_blank">Follow me on Strava</a>
      <a class="bg-strava btn label" href="mailto:<%= Settings.app.emailer.default_sender_email %>" target="_blank">Contact Us</a>
      <% unless Settings.app.version.blank? %>
          <small><%= Settings.app.version %></small>
      <% else %>
          <small>v0.11.2</small>
      <% end %>
  </span>
</footer>
<script> window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' } </script>
