<footer class="main-footer">
  <span class="hidden-xs">
    Created by <a href="http://yizeng.me" target="_blank">Yi Zeng</a> and GitHub'ed at
    <a href="https://github.com/yizeng/strafforts" target="_blank">yizeng/strafforts</a>.
  </span>
  <span class="pull-right">
      <a class="bg-strava btn label" href="https://www.strava.com/athletes/9123806" target="_blank">Follow me on Strava</a>
      <a class="bg-strava btn label" href="http://yizeng.me/#contact" target="_blank">Contact Me</a>
      <% unless Settings.app.version.blank? %>
          <small><%=  Settings.app.version %></small>
      <% else %>
          <small>v.0.9.0</small>
      <% end %>
  </span>
</footer>
