<li class="dropdown notifications-menu">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bell-o"></i>
    <span class="label label-danger">2</span>
  </a>
  <ul class="dropdown-menu">
    <li class="header">You have 2 notifications</li>
    <li>
      <!-- inner menu: contains the actual data -->
      <ul class="menu">
        <li>
          <a href="#" data-turbolinks="false">
            <i class="fa fa-trophy text-yellow"></i>Preview version of 'Races' is now available.
          </a>
        </li>
        <li>
          <a href="#" data-turbolinks="false">
            <i class="fa fa-envelope-o text-red"></i>This notification feature is currently working in progress.
          </a>
        </li>
      </ul>
  </ul>
</li>