@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'plugins/pace/pace.min';
@import 'plugins/datatables/dataTables.bootstrap';
@import 'dist/css/AdminLTE.min';
@import 'dist/css/skins/skin-black-light.min';
@import 'toastr.min';

$color-strava: #FC4C02;
$color-strava-hover: #E34402;
$color-light-green: #00BD65;
$color-green: #00A65A;
$color-red: #F56954;
$color-yellow: #F39C12;
$color-light-grey: rgba(128, 128, 128, 0.5);

input[type='submit'] {
  font-family: FontAwesome,'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.bg-strava {
  background-color: $color-strava !important;
  color: #FFF !important;
}

.main-footer a,
.main-header .logo b {
  color: $color-strava;

  &:hover {
    color: $color-strava-hover;
  }
}

.main-header li.user-header {
  background-color: #555555 !important;
}

.form-control:focus {
  border-color: $color-strava;
}

.box.box-primary {
  border-top-color: $color-strava;
}
/* Blue follower and following links. */
.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
  color: #007FB6 !important;
}
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 380px;
}
.dropdown-menu > li > a {
  &:focus {
    background-color: inherit;
  }
}

/* Add some transition effects */
.main-header .logo,
.main-header .navbar .sidebar-toggle,
.treeview-menu > li > a {
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* Sidebar Treeview Menu */
.sidebar-menu {
  .treeview-menu {
    li a:hover {
      box-shadow: inset 3px 0 0 $color-strava;
    }
  }
  .disabled {
    cursor: default;
  }
}

/* Style Sidebar User Panel as a link */
.user-panel {
  .image img {
    width: 45px;
    height: 45px;
  }

  .info {
    font-weight: bold;

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    a {
      font-weight: 600;
      margin-bottom: 9px;
      padding-right: inherit;
      margin-top: inherit;
      font-size: inherit;
    }
  }
}
/* Style User Menu Dropdown */
.navbar-nav .user-menu .dropdown-menu li.user-header {
  img {
    height: 90px;
    width: 90px;
  }

  a:hover {
    background-color: inherit;
  }
}

#main-content {
  .nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: $color-strava;
  }

  .timeline {
    .time-label {
      margin-left: 12px;
      margin-bottom: 20px;
    }
    .timeline-item > .time {
      font-size: inherit;
    }
    .timeline-header {
      border: none;
      padding-bottom: 0;
      a {
        color: inherit;
        border-bottom: dotted 1px $color-light-grey;
        &:hover {
          color: #FC4C02;
          border-bottom-color: #FC4C02;
        }
      }
      .race-distance-label {
        background-color: $color-light-grey;
        color: #FFFFFF;
        font-size: 11px;
        margin: 8px;
      }
    }
    .timeline-body {
      .activity-data {
        display: inline;
        margin-right: 8px;
      }
    }
    .race-distance-marathon .race-distance-label {
      background-color: $color-red;
    }
    .race-distance-half-marathon .race-distance-label {
      background-color: $color-yellow;
    }
    .race-distance-10k .race-distance-label {
      background-color: $color-green;
    }
    .race-distance-5k .race-distance-label {
      background-color: $color-light-green;
    }
  }

  /* Style links within best effort table */
  .dataTable {
    a {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      text-decoration: none;
      color: inherit;
      border-bottom: dotted 1px $color-light-grey;
      outline: 0;

      &:focus,
      &:hover {
        color: $color-strava;
        border-bottom-color: $color-strava;
      }
    }

    .strava-logo-link {
      border-bottom: none;
      span {
        width: 20px;
        max-width: 100%;
        height: 20px;
        margin-right: 8px;
        content: image-url('strava-logo-small.png');
        vertical-align: middle;
        border: 0;
      }
    }
  }

  /* Style notification alerts in main-content */
  .notification-alert {
    .modal {
      background: transparent !important;
      color: #444;
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;

      a {
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        text-decoration: none;
        color: inherit;
        border-bottom: dotted 1px $color-light-grey;
        outline: 0;

        &:focus,
        &:hover {
          color: $color-strava;
          border-bottom-color: $color-strava;
        }
      }

      .modal-content {
        border-left: 5px solid $color-strava;

        .modal-header {
          background-color: rgba(244, 244, 245, .4) !important;
          border-color: rgba(244, 244, 245, .4) !important;
          padding-bottom: 0;
        }

        .modal-body {
          background-color: rgba(244, 244, 245, .4) !important;
          border-color: rgba(244, 244, 245, .4) !important;
          font-size: 16px;
        }
      }
    }
  }

  /* DataTable styles */
  .dataTables_filter input {
    width: 170px !important;
  }

  .dataTables_length select {
    width: 60px !important;
  }

  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > a:visited,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover,
  .pagination > .active > span:visited {
    background-color: $color-strava;
    border-color: $color-strava;
    color: #FFFFFF;
  }

  .pagination > li > a,
  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > li > a:visited,
  .pagination > li > span,
  .pagination > li > span:focus,
  .pagination > li > span:hover,
  .pagination > li > span:visited {
    color: #000000;
  }

  /* Badge and label styles */
  .badge,
  .label {
    font-size: 12px;
    margin: 4px;
  }

  .hr-zone-na {
    background-color: #D2D6DE;
  }

  .hr-zone-1 {
    background-color: #BDD6BA;
  }

  .hr-zone-2 {
    background-color: #00A65A;
  }

  .hr-zone-3 {
    background-color: #F39C12;
  }

  .hr-zone-4 {
    background-color: #FA6500;
  }

  .hr-zone-5 {
    background-color: #C82300;
  }

  .hr-zone-6 {
    background-color: #555555;
  }

  .hr-zone-7 {
    background-color: #111111;
  }

  .workout-type-run {
    background-color: $color-light-green;
  }

  .workout-type-race {
    background-color: $color-red;
  }

  .workout-type-long-run {
    background-color: $color-green;
  }

  .workout-type-workout {
    background-color: $color-yellow;
  }

  @media (max-width: 544px) {
    .hidden-xs-down {
      display: none !important;
    }
  }
  @media (max-width:768px) {
  }
  @media (max-width: 768px) {
    .hidden-sm-down {
      display: none !important;
    }
    div.dataTables_wrapper > div.row > div,
    div.dataTables_length,
    div.dataTables_filter,
    div.dataTables_info,
    div.dataTables_paginate {
      text-align: left;
    }
  }
  @media (max-width: 992px) {
    .hidden-md-down {
      display: none !important;
    }
  }
  @media (max-width: 1200px) {
    .hidden-lg-down {
      display: none !important;
    }
  }
  @media (max-width: 1440px) {
    .dataTable td {
      font-size: .9em !important;
    }
    .strava-logo-link span {
      content: none !important;
      margin-right: 0 !important;
    }
  }
}

.main-footer {
  .btn {
    font-size: 85%;
  }
}

/* Pace loading progress bar style */
body.page-loading > :not(.pace),
body.page-loading:after,
body.page-loading:before {
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

body.page-loading:not(.pace-done) > :not(.pace),
body.page-loading:not(.pace-done):after,
body.page-loading:not(.pace-done):before {
  opacity: 0;
}
.page-loading {
  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    width: 60%;
    background: #FFFFFF;
    border: 1px solid $color-strava;
    overflow: hidden;

    .pace-progress {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      max-width: 200px;
      z-index: 2000;
      display: block;
      position: absolute;
      top: 0;
      right: 100%;
      height: 100%;
      width: 100%;
      background: $color-strava;
    }

    &.pace-inactive {
      display: none;
    }
  }
}

.page-loaded {
  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .pace-inactive {
    display: none;
  }

  .pace .pace-progress {
    background: $color-strava;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }

  .pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px $color-strava, 0 0 5px $color-strava;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }

  .pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: $color-strava;
    border-left-color: $color-strava;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
  }

  @-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
  }
}